* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

input {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
}

button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3277d6;
}

button:focus {
  outline: none;
}

.weatherValues {
  background-color: rgba(241, 241, 241, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin: 50px auto 0;
  
}

.weatherValues p {
  color: rgb(32, 42, 49);
}

.errorMessage {
  color: red;
  margin-top: 20px;
}

.weatherIcon {
  /* width: 50px; */
  margin: 0 auto;
  
}
.weatherIcon > img{
width: 100px;
filter: drop-shadow(0 0 30px #ffffff);
}
@media only screen and (max-width: 400px) {
  input {
    margin-right: 0;
    max-width: 60vw;
  }

  button {
    margin-top: 5px;
  }

  .App {
    font-size: smaller;
  }
}

.noWeatherIcon{
  width: 50px;
  background-color: #3277d6;
}