* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

input {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
  outline: none;
}

button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #3277d6;
}

button:focus {
  outline: none;
}

.weatherValues {
  background-color: rgba(241, 241, 241, 0.3);
  border-radius: 5px;
  padding: 10px;
  max-width: 60%;
  margin: 50px auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}


.weatherValues p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 0.75rem;
  width: 100px;
  height: 100px;
  color: rgb(32, 42, 49);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.errorMessage {
  color: red;
  margin-top: 20px;
}

.weatherValues img {
  width: 150px;
  border-radius: 10px;
  /* filter: drop-shadow(0 0 30px #ffffff); */
}

@media only screen and (max-width: 400px) {
  input {
    margin-right: 0;
    max-width: 60vw;
  }

  button {
    margin-top: 5px;
  }
}

.noWeatherIcon {
  width: 50px;
  background-color: #3277d6;
}